{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de Rosana Vásquez </title>
    <style>
        /* Estilos para el botón */
        .back-btn {
            background-color: orange;
            color: navy;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            text-decoration: none;
            cursor: pointer;
        }

        .back-btn:hover {
            background-color: darkorange;
        }
    </style>
</head>
<body>
    <h1>Acerca de Rosana Vasquez </h1>
    <!-- Botón para volver a home.html -->
    <a href="{% url 'home' %}" class="back-btn">Volver a Home</a>
    <br><br>
    <!-- Imagen del currículum -->
    <img src="{% static 'TaskManagerApp/images/AboutMe_VasquezRosana.jpg' %}" alt="Mi Currículum Vitae">
</body>
</html>
