{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager App</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'TaskManagerApp/css/bootstrap.css' %}">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'crear_tarea' %}">Crear Tarea</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'crear_categoria' %}">Crear Categoría</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'tareas' %}">Todas las Tareas</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'editar-perfil' %}">Editar Perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">{{ user }}</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <!-- Main content -->
    <div class="container mt-4">
        {% block content %}
        <!-- Content goes here -->
        {% endblock content %}
    </div>
    <!-- Footer -->
    <footer class="footer mt-auto py-3 bg-light">
        <div class="container text-center">
            {% if user.is_authenticated %}
            <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
            <a class="btn btn-secondary" href="{% url 'editar-perfil' %}">Editar Perfil</a>
            {% endif %}
        </div>
    </footer>
    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

